# Generally ignore compilation files from latex
**.aux
**.bbl
**.blg
**.out
**.log
**.toc
**.bcf
**.run.xml
**.acn
**.acr
**.alg
**.glg
**.glo
**.gls
**.glsdefs
**.ist

0
/*.pdf
# Ignore all "picture" subdirectories in Papers
/pictures/**
# Ignore the comments subdirectory
/comments/**

